
       #logo {width: 180px; height: 70px;}
       
       #menu {display: inline-block;}
        
        .caixas {margin: 20px; border: 5px solid black; display: inline-block; background-color:#ED1651; height: 100px; width: 150px;}
        
        .listas {padding: 70px; margin-left: 100px;}

        body {margin: 30px; background-color: #6C8CC7;}
        
        #barra {color:red; font-size: 50px; font-family:'Dosis';}
        
            
            li {
                float: right;
            }
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            
            }
            
            /* Change the link color to #111 (black) on hover */
            li a:hover {
                background-color: #ED1651;
            }

        





